<mat-card class="card">
  <img class="company-logo" src="../../../assets/logo-wide.png" />
  <mat-card-header>
    <mat-card-title>MCA</mat-card-title>
    <mat-card-subtitle>IT company</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Content">Founded in 2008, MCA is a company that has been built up from the ground up around our desire to make our client’s projects and visions come to life in best spotlight possible. Initially started as Near-Shoring for our network in Denmark, MCA now is primarily focused on Product development for clients spanning most countries in Scandinavia. However, we still keep to our roots and staff the clients that need day to day development by our highly skilled staff. After 2014 we have become more involved in startups that strive to go the distance and supply complex solutions to the customers. Those companies usually choose MCA as the partner, such they can be sure that their product will reach the marketplace in the quickest time possible.</mat-tab>
      <mat-tab label="Code"><pre><code>{{code}}</code></pre></mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
