<mat-toolbar class="mat-primary">
  <mat-toolbar-row class="mat-elevation-z6">
    Present Any Image Without Breaking The UI
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button routerLink="/initial" routerLinkActive="active-link">
      Initial
    </button>
    <button mat-button routerLink="/tall" routerLinkActive="active-link">
      Tall
    </button>
    <button mat-button routerLink="/tall-fix" routerLinkActive="active-link">
      Tall Fix
    </button>
    <button mat-button routerLink="/wide" routerLinkActive="active-link">
      Wide
    </button>
    <button mat-button routerLink="/final" routerLinkActive="active-link">
      Final
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
